// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  color: gray;
}
a:link {
  text-decoration: none;
  color: greenyellow;
}

a:visited {
  text-decoration: none;
  color: greenyellow;
}

a:hover {
  text-decoration: underline;
  color: green;
}

a:active {
  text-decoration: underline;
  color: green;
}